.App {
  text-align: center;
  
}

.wrapper{
  padding: 20px;
}


.App-logo {
  height: 55vmin;
  pointer-events: none;
  margin-top: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(18px + 4vmin);
  color: #01254a;
}

/*.App-link {
  color: #01254a;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}
 
