.App {
  text-align: center;
  
}
.header{
  align-items:right;
}

.ola{
text-align:center
font-size 14px;
}
.wrapper{
  padding: 5px;
}


.App-logo {
  height: 55vmin;
  pointer-events: none;
  margin:none;
}
.App-Logo-Dash{
  height: 15vmin; 
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.button {
    background-color: #1a2846;
    border: none;
    border-radius: 5%;
    color: white;
    padding:12px 80px;
    height: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;   
}

.button:hover{
    background-color: #ffffff;
    border: 2px solid #1a2846;
    border-radius: 5%;
    color: #1a2846;
    padding:12px 80px;
    height: auto;
    text-align: center;
    text-decoration:dashed;
    display: inline-block;
    font-size: 16px;
    
    
}

.logout_button {
    
    background-color: #1a2846;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;   
}

.logout_button:hover{
    background-color: #ffffff;
    border: 2px solid #1a2846;
    border-radius: 5%;
    color: #1a2846;
    padding: 12px 35px;
    text-align: center;
    text-decoration:dashed;
    display: inline-block;
    font-size: 16px;
    
    
}
.App-body {
  background-color: #ffffff;
  min-height:none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(18px + 4vmin);
  color: #01254a;
}

/*.App-link {
  color: #01254a;
}*/

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}*/
 